@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
/* ################################## html element styling ###################################### */
html{
    font-size: 62.5%;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}
 ul li{
    list-style: none;
 }

 a{
    font-size: 1.6rem;
    text-decoration: none;
 }
 p li {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
 }

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}
/* ################################# utility classes ###################################### */
.container{
     max-width: 1200px;
     width: 90%;
     margin: 0 auto;
}
.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
    /* letter-spacing: 0.15em; */
}

.text-red{
    color:#e64936 ;
}

.text-light{
    color: #f4f4f4;
}
.text-black{
 color: #333;
}

.bg-dark{
    background-color: #263238;
}

.text-gray{
    color: #555;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: #fff;
    border-radius: 10em;
}
.btn-primary:hover{
    background-color: #ddd;
}
.btn-secondary{
  border: 2px solid #e63943;
  border-radius: 3.5rem;
  color: #e63943;
  background-color: #fff;
}
.btn-secondary:hover{
    background-color: #fcf3f2;
}
 /* ################################### header stying #################################### */

header{
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/images/img/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
h1{
    color:white ;
}



.navbar{
   
    padding: 1rem;
}

 .navbar .logo{
    float: left;
   
}

.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}
 .navbar .nav-items{
    float: right;
    margin-top: 1rem;
}

.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}

.navbar a{
    padding-bottom: 0.3rem;
}
.navbar a:hover{
    border-bottom: 1px solid #fff;
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}
/* ############################## header content styling ############################ */
.header-content{
    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
 }
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}
.header-content p{
    text-transform: uppercase;
    letter-spacing: 0.32em;
}

/* ##################################### showcase section styling######################################## */

.showcase{
    background: #ddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    box-shadow: 0px 0px 20px 0px #aaa;
    background-color: #fff;
}
.row1{
    margin-bottom: 10rem;
}
.row1 .img-box,.row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box,.row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
   
    height: 100%;
}

.row .text-box{
   
    padding: 30px;
}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row .text-box p{
    letter-spacing: .25em;
}
.row::after{
    content: '';
    clear: both;
    display: block;
}

/* #####################################feature section styling######################################## */
.feature{
    padding: 10rem 0 ;
}

.box p{
    letter-spacing: 0.30rem;
}
.box-wrapper{
    box-shadow: 5px 5px 10px 0px #00000055;
}
.box{
    width: 33.333333%;
    float: left;
    padding: 2rem;
    text-align: center;
}
.box-1 , .box-3{
    background-color: #263238;
    color: #fff;
}
.box-2{
    background:linear-gradient(25deg,#d64c75,#ee4758 50%);
    color: #fff;
}
.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

/* #########################################footer styling ########################################### */
.footer{
    background-color: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.social-media-links i{
    margin: 2rem;
}

/* ######################################## About page styling ################################################ */
.about{
    padding: 5rem 0;
}
/* .about-heading{
    border-bottom: 6px solid #e63946;
} */
.about-heading::after{
    content: '';
    border: 6px solid #e63946;
    width:100%;
    display: block;
}
/* ################################### about wrapper #################################################### */
.about-wrapper{
    text-align: center;
    margin-top: 2rem;
}
.about-wrapper .left{
    float: left;
    width: 50%;
   
   
}

.about-wrapper .right{
    float: right;
    width: 50%;
    
   
}

.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.about-wrapper li{
    margin-top: 0.5rem;
    letter-spacing: 1px;
}

.about-wrapper li::before{
   
    content:'\2713' ;
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}
/* ############################################# contact styling ############################################################# */
.counts{
   
    margin-top: 3rem;
}
.count-items{
   
    float: left;
    width: 25%;
    text-align: center;
}

.counts::after{
    content: '';
    display: block;
    clear: both;
}
.count-items span{
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}
.count-items p{
    font-weight: 700;
    color: #555;
    font-size: 1.8rem;
    letter-spacing: .15rem;
}

/* ############################################ banner design ################################################### */
.cta-banner{
 
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000039;
    background:linear-gradient(25deg,#d64c75,#ee4758 50%);
    color: #f4f4f4;
    margin-top: 3rem;
}
.cta-banner-left{
    float: left;
    width: 60%;
}

.cta-banner-right{
    float: right;
    width: 40%;
    text-align: right;
}
.cta-banner::after{
    content: '';
    display: block;
    clear: both;
}

.btn-cta{
    border: 4px solid #ddd;
    color: #ddd;
    border-radius: 0.12rem;
    padding: 0.3rem 2.5rem;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
.cta-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
    letter-spacing: 0.15rem;
}

/* ################################################## contact page styling ############################################ */
.contact-form{
    padding: 5rem 0;
    background: #f7f7f7;
}
.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.form-wrapper .company-address{
    height: 760px;
    background-color: #fff;
    width: 49%;
    float: left;
    padding: 1rem;
}

.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}
.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}
.form-wrapper .company-address p{
    letter-spacing: 0.15rem;
    font-weight: 520;
}
.form-wrapper .address-group{
    margin-bottom: 3rem;
}
.form-wrapper .company-address img{
   max-width:  90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}
/* ############################################## form styling ######################################### */
.form-wrapper .form{
    height: 760px;
    background-color: #fff;
    width: 49%;
    float: right;
    font-size: 1.6rem;
    padding: 1rem;
}
.form-wrapper .form p{
    font-size: 1.8rem;
}
.form h1::after{
    content: '';
    display: block;
    border-bottom: 6px solid #ee4758;
    width: 100%;
}

.form-wrapper label{
    display: block;
}

.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}
.form-wrapper .form label::after{
    content: '*';
    color: #e63946;
}
.form-wrapper .form textarea{
    width: 100%;
    height: 265px;
    padding: 1rem;
}
.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

/* #################################### media query #################################### */

@media (max-width:500px){
    html{
        font-size:50%;
    }
    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .header-content .lg-heading{
       display: none;
    }
    .header-content .md-heading{
        font-size: 1.8rem;
    }
    .row{
        height: auto;
        width: 100%;
    }
    .row  .img-box,
    .row  .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .text-box .lg-heading{
        font-size: 2.5rem;
    }
    .box-wrapper .box{
        display: block;
        width: 100%;
        float: none;
        text-align: center;
        box-shadow: 5px 5px 10px 0px #00000055;
    }
    .feature .box-2 ,.feature .box-3{
        margin-top: 7rem;
    }
    .box-wrapper{
       box-shadow: none;
    }
    .cta-banner-left,.cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .btn-cta{
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}
@media(min-width:501px) and (max-width:768px){
    html{
        font-size:50%;
    }
    p{
        font-size: 1.8rem;
    }
    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .header-content .md-heading{
        font-size: 1.8rem;
    }
    .row{
        height: auto;
        width: 100%;
    }
    .row  .img-box,
    .row  .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .text-box .lg-heading{
        font-size: 2.5rem;
    }
    .box-wrapper .box{
        display: block;
        width: 100%;
        float: none;
        text-align: center;
        box-shadow: 5px 5px 10px 0px #00000055;
    }
    .feature .box-2 ,.feature .box-3{
        margin-top: 7rem;
    }
    .box-wrapper{
       box-shadow: none;
    }
    .cta-banner-left,.cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .btn-cta{
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}
@media(min-width:769px) and (max-width:869px){
    html{
        font-size: 56.25%;
    }
    .text-box h2{
        font-size: 2.3rem;
    }
}
@media(min-width:870px) and(max-width:1200px){
    html{
        font-size: 56.25%;
    }

}

@media(orientation:landscape) and (max-height:500px) {
    .header{
        height: 90vmax;
    }
}